  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    min-height: 10vh;
    font-family: sans-serif;
    background-color: black;
    color: white;
    justify-content: space-evenly;
  }
  
  .nav-item .nav-link  {
    margin-left: 25px;
    cursor: pointer;
    color: rgb(23, 182, 255);
  }

  .nav-item  a:hover{
    color: red;
  }

  .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: red;
  }

  .navbar-brand {
    font-size: 30px;
    color: rgb(23, 182, 255);
  }
  .navbar-collapse {
    margin-left: 20px;
  }
  .navbar-collapse a{
    font-size: 17px;
    color: rgb(23, 182, 255);
  }
  .navbar-collapse .cart{
    margin-right: 50px;
    font-size: 25px;
    color: rgb(23, 182, 255);
  }
  .navbar-collapse a:hover{
    color: red;
  }