  .navbar{
    background-color: #282c34;

  }
  .navbar a {
    text-decoration: none;
  }

  .navbar .navbar-collapse .navbar-nav li a {
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: space-around;
  }
  .navbar .navbar-collapse .navbar-nav li .contacto{
    margin-left: 15px;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    min-height: 10vh;
    font-family: sans-serif;
    color: white;
    
  }

  .nav-item .nav-link  {
    margin-left: 25px;
    cursor: pointer;
    color: rgb(23, 182, 255);
  }

  .nav-item  a:hover{
    color: red;
  }

  .navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
    color: red;
  }

  .navbar-brand {
    font-size: 30px;
    color: rgb(23, 182, 255);
  }
  .navbar-collapse {
    margin-left: 20px;
    text-align:center;
    justify-content: space-between!important;
  }
  .navbar-collapse a{
    font-size: 17px;
    color: rgb(23, 182, 255);
  }

  .navbar-collapse .cart{
    margin-right: 50px;
    font-size: 25px;
    color: rgb(23, 182, 255);
  }
  .navbar-collapse a:hover{
    color: red;
  }
  .nav-item .nav-link a {
    justify-content: space-around;
    margin-left: 20px;
  }
